/* CSS Document */

.generalgoods{width:1180px; margin:15px auto;}

.generalgoods1 ul li{margin-left:15px;}
.generalgoods1 ul li img{width:277px; height:277px;}

.generalgoods2 ul li{margin-left:15px;}
.generalgoods2 ul li img{width:219px; height:219px;}
